@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1670653865863') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-people:before {
  content: "\e6a5";
}

.icon-search:before {
  content: "\e741";
}

.icon-clock:before {
  content: "\e7b3";
}

.icon-Company:before {
  content: "\e657";
}

